<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="Blog Django Handler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\Artical\env\Scripts\python.exe|D:\Artical\env\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
</configuration>
